body {
  font-family: 'Raleway', sans-serif;
  background: #e5e5e5;
}

/* Wrapper and Sidebar */

#wrapper {
  padding-left: 0;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

#wrapper.toggled {
  padding-left: 250px;
}

.sidebar {
  z-index: 1000;
  position: fixed;
  left: 250px;
  width: 0;
  height: 100%;
  margin-left: -250px;
  overflow-y: auto;
  background: #fff;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.sidebar-content {
  padding-left: 20px;
}

#wrapper.toggled .sidebar {
  width: 250px;
}

.page-content {
  width: 100%;
  position: absolute;
  padding-top: 40px;
}

#wrapper.toggled .page-content {
  position: absolute;
  margin-right: -250px;
}

.sidebar .sidebar-header {
  height: 65px;
}

.sidebar .sidebar-brand {
  font-size: 18px;
  line-height: 60px;
  text-decoration: none;
}

.toggle-menu {
  background: #ffffff;
  border-radius: 0px;
  position: fixed;
  z-index: 1000;
}

@media(min-width:768px) {
  #wrapper {
    padding-left: 250px;
  }

  #wrapper.toggled {
    padding-left: 0;
  }

  .sidebar {
    width: 250px;
  }

  #wrapper.toggled .sidebar {
    width: 0;
  }

  .page-content {
    position: relative;
  }

  #wrapper.toggled .page-content {
    position: relative;
    margin-right: 0;
  }
}

/* Wrapper and Sidebar end */

/* Tile */

.tile {
  margin-bottom: 20px;
  background: #ffffff;
  box-shadow: 0 1px 1px rgba(0,0,0,.05);
}

.tile h4 {
  text-transform: uppercase;
}

.tile .content {
  padding: 20px;
}

.tile .procedures {
  margin: 20px 0px;
}

.tile .procedure {
  float: left;
  background: #333333;
  padding: 4px 8px;
  margin-right: 8px;
  margin-bottom: 5px;
  color: #ffffff;
  font-size: 10px;
  border-radius: 4px;
  text-transform: uppercase;
}

.tile .accreditations {
 margin-top: 10px;
 padding-top: 10px;
 text-align: center;
 border-top: 1px solid #EBEBEB;
}

.tile .accreditation {
  height: 40px;
  padding: 5px 10px;
  opacity: 0.75;
}

.rating i {
  font-size: 1.2em;
}

.rating .filled {
  color: orange;
}

ul.rating {
  margin: 10px 0px;
  padding: 0px;
}

.rating li {
  list-style-type: none;
  display: inline-block;
  padding: 1px;
  text-align: center;
  font-weight: bold;
}

@media(min-width:992px) {
  .tile .img {
    padding: 30px 0px 20px 20px;
    max-height: 244px;
  }
  .tile .accreditations {
    position: absolute;
    right: 15px;
    bottom: 0px;
    border-top: 1px solid #EBEBEB;
    border-left: 1px solid #EBEBEB;
    border-radius: 5px 0px 0px 0px;
  }
}

/* Tile end */

.loading-container {
  position: fixed;
  width: 100%;
  height: 100%;
  background: #7f8c8d;
  z-index: 999;
  text-align: center;
  opacity: 0.85;
}

.loading-container .loading {
  position: absolute;
  top: 20%;
  width: 100%;
  text-align: center;  
}

.spinner {
  width: 40px;
  height: 40px;
  margin: 100px auto;
  background-color: #fff;
  border-radius: 100%;  
  -webkit-animation: scaleout 1.0s infinite ease-in-out;
  animation: scaleout 1.0s infinite ease-in-out;
}

@-webkit-keyframes scaleout {
  0% { -webkit-transform: scale(0.0) }
  100% {
    -webkit-transform: scale(1.0);
    opacity: 0;
  }
}

@keyframes scaleout {
  0% { 
    transform: scale(0.0);
    -webkit-transform: scale(0.0);
  } 100% {
    transform: scale(1.0);
    -webkit-transform: scale(1.0);
    opacity: 0;
  }
}