<!doctype html>
<html>
  <head>
    <title>MediSearch</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/1.5.2/css/ionicons.min.css">    
    <link href='https://fonts.googleapis.com/css?family=Raleway:400,300' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="/assets/css/animate.min.css">
    <link rel="stylesheet" href="/assets/css/style.css">
  </head>
  <body ng-app="medisearch" ng-controller="ClinicController">
    <div class="loading-container" ng-show="isLoading">
      <div class="loading">
        <div class="spinner"></div>
      </div>
    </div>
    <div id="wrapper" ng-class="{'toggled':hideMenu}">
      <div class="sidebar">
        <div class="sidebar-content">
          <div class="sidebar-header">
            <a class="sidebar-brand" href="/">MEDISEARCH</a>
          </div>
          <h4>SORT BY</h4>
          <label>
            <input type="radio" name="sortby" ng-model="predicate" value="name"> Name
          </label>
          <label>
            <input type="radio" name="sortby" ng-model="predicate" value="score"> Score
          </label>
          <br>
          <h4 ng-show="availableProcedures.length > 0">FILTER</h4>
          <div ng-repeat="procedure in availableProcedures">
            <label>
              <input type="checkbox" name="procedure" checklist-model="selectedProcedures" checklist-value="procedure"> {{ procedure }}
            </label>
          </div>
        </div>
      </div>
      <button class="btn toggle-menu" ng-click="hideMenu = !hideMenu"><i class="ion-navicon-round"></i></button>
      <div class="page-content">
        <div class="container-fluid">
            <div class="row">
              <div class="col-md-12" ng-repeat="clinic in clinics | orderBy:predicate | filter:filterByProcedure">                
                <div class="tile animated slideInDown">
                  <div class="row">
                    <div class="col-md-4">
                      <img class="img img-responsive" ng-src="{{ clinic.img }}">
                    </div>
                    <div class="col-md-8">
                      <div class="content">
                        <h4>{{ clinic.name }}</h4>
                        <div star-rating="clinic.score"></div>
                        <p>{{ clinic.desc }}</p>
                        <div class="procedures">
                          <div class="procedure" ng-repeat="procedure in clinic.procedures" class="procedure">{{ procedure.name }}</div>
                        </div>
                        <div class="clearfix"></div>
                        <div class="accreditations">
                          <img ng-repeat="accreditation in clinic.accreditations" class="accreditation" ng-src="{{ accreditation.img }}" title="{{ accreditation.name }}" alt="{{ accreditation.name }}">
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
        </div>
      </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>
    <script src="/assets/js/vendor/checklist-model.js"></script>
    <script src="/assets/js/app.js"></script>
    <script src="/assets/js/directive.js"></script>
    <script src="/assets/js/service.js"></script>
    <script src="/assets/js/controller.js"></script>
  </body>
</html>
